<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <h3>Update book</h3>
    <form action="{% url 'readbook' %}" method="POST">
        {%csrf_token%}
        <input type="text" value="{{data1.id}}" name="id" disabled><br><br>
        <input type="text" value="{{data1.title}}" name='title'><br><br>
        <input type="number"value="{{data1.price}}" name='price'><br><br>
        <input type="text" value="{{data1.author}}" name='publisher'><br><br>
        <input type="text"  value="{{data1.publisher}}" name='author'><br><br>
        <input type="submit" value="Add Book">
        </form>   
</body>
</html>